<h1><a href="/home">The Gossip Project</a></h1>
<h2>Contact page</h2>

<p>
	Here below if you want to suscribe to our Gossip page :
	<form action="/" method="post">
		<input type="text" name="first_name">
		<input type="submit" name="Send">
	</form>
</p>